#ft{
    background-color: rgb(185, 216, 227);

}
#s{
    background-color:rgb(130,45,110);
}
#t{
    background-color: #00ff00;
}
#f{
    background-color: rgb(0,0.5,255);
}
#box1{
    height:200px;
    width:200px;
    background-image:url(OIP.png.webp);
    background-size:contain;
    background-repeat:no-repeat;
    
}
.bx{
    height:100px;
    width:100px;
}
#box{
    background-color: aqua;
    visibility:hidden;
}
#box2{
    background-color:blueviolet;
    color:rgb(130,45,110,0.7);
}